:root {
  --bg:hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --gray:hsl(0, 0%, 42%);
  --black:hsl(0, 0%, 7%);
  --font-size:16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg);
  font-family: "Figtree", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  min-height: calc(100vh - 63px);
  display: grid;
  place-items: center;
}
.container .card {
  max-width: 350px;
  padding: 15px;
  background-color: var(--White);
  border-radius: 10px;
  border: 1px solid var(--gray);
  box-shadow: 5px 4px 2px var(--black);
}
.container .card img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container .card .btn {
  display: inline-block;
  padding:5px 10px;
  border-radius: 5px;
  background-color: var(--bg);
  font-weight: 700;
  margin-bottom: 10px;
}
.container .card .date {
  display: block;
  color: var(--black);
  font-weight: 500;
}
.container .card h1 {
  margin: 15px 0;
  font-weight: 800;
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .container .card h1 {
    font-size: 20px;
  }
}
.container .card p {
  font-size: 13px;
  color: var(--gray);
  line-height: 1.5;
  margin-bottom: 10px;
}
.container .card .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .card .profile .name {
  font-weight: 700;
}
.container .card .profile img {
  width:40px;
  display: block;
  margin: 0;
}
/* footer  */
footer {
  padding: 25px 0;
  background-color: var(--White);
}
